!!!
%html(ng-app="roro")
  %head
    %meta(charset="UTF-8")
    %script(src="http://code.angularjs.org/angular-1.0.1.min.js")
    %script(src="/example_five.js")
    %link(rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
  %body
