<div class="alert alert-error" ng-show="showRedirectMsg">
  <strong>Oops!</strong> Cannot find a preview for this Huddle with id {{huddleLocal._id}}.<br />
  Go back to <a href="#/browse">browsing</a>.
</div>

<div class="hero-unit">
  <h1>{{localHuddle.huddleName}}</h1>
  <p>Use the easy to read and write Markdown syntx to create the content of your course material or online tutorial.</p>
</div>

<fieldset>

  <legend>
    <div class="step-number"><span>2</span></div>
    <div class="step-text">Edit &amp; add sections to your Huddle</div>
  </legend>

</fieldset>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <div id="file-pane">
        <hr />
        <h2>Sections</h2>
        <div id="sortable-files">
          <div ng-repeat="file in outline" id="file-{{file.filename}}" class="file" ng-class="{'editing':isEditing(file)}" ng-click="fileClick(file)"> <i class="icon-file"></i> {{file.filename}} <i class="icon-play"></i> 
          </div>
        </div>
        <hr />
        <div id="add-section" ng-click="add()" title="Create a new section"><i class="icon-plus-sign"></i> Add</div>
        <hr />
        <div id="remix-btn" ng-click="remix()" title="Incorporate one or more sections from other existing Huddles"><i class="icon-random"></i> Remix</div>
        <hr />
      </div>
    </div>

    <div class="span10">
      <div id="edit-pane">
        <div id="epiceditor"></div>
      </div>
    </div>
  </div>
</div>

<fieldset id="preview">

  <legend>
    <div class="step-number"><span>3</span></div>
    <div class="step-text">Preview your Huddle</div>
  </legend>

  <button class="btn" ng-click="preview()">Preview</button>

</fieldset>