<div class="hero-unit">
  <h1>Got something to teach the world?</h1>
  <p>A Huddle is a set of files that contain the contents (text &amp; images) of your course material to generate a presentation slidedeck for your class, or the HTML for an online tutorial.</p>
  <p>It's easy to get started!</p>
</div>

<form name="createHuddle">
  <fieldset>
    <legend>
      <div class="step-number"><span>1</span></div>
      <div class="step-text">Create a Huddle</div>
    </legend>
    <div class="row-fluid">
      <div class="span10">
        <input type="text" ng-model="huddleLocal.huddleName" ng-blur="blur()" ng-click="focus()" placeholder="Enter in a name for your Huddle" required />
      </div>
      <div class="span2">
        <button type="submit" class="btn" ng-class="{'enabled':!isBlank(huddleLocal.huddleName)}" ng-disabled="isBlank(huddleLocal.huddleName)" ng-click="create()">Create</button>
      </div>
    </div>
    <p class="step-info" ng-show="showTip" ><i class="icon-info-sign"></i> Give your Huddle a descriptive title. If needed, you can change it later.</p>
  </fieldset>
</form>

<div class="alert fade in" ng-show="creationError">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Oops!</strong> Something went wrong trying to create "{{huddleLocal.huddleName}}". It was probably our fault. Give it another try.
</div>