!!!
%html(ng-app="roro")
  %head
    %meta(charset="UTF-8")
    %script(src="http://code.angularjs.org/angular-1.0.1.min.js")
    %script(src="/example_iframe.js")
    %style
      body, html { height: 100%; }
      textarea, iframe { height: 80%; width: 47%; margin: 1% }
  %body
    %example(name="example_simplest")
